<?xml version="1.0" encoding="UTF-8"?>
<Response>
	{{^asked}}
    <Gather action="index.php?format=voice&amp;asked=true" method="GET">
        <Say>
            Please enter your zip code followed by a pound.
        </Say>
    </Gather>
    <Say>Sorry man, we need your zip code to predict the weather. Call back and try again!</Say>
    {{/asked}}
    {{#asked}}
     <Say>{{#theForecast}}Hey man, let me tell you about the {{day}} weather.  {{words}}{{/theForecast}}</Say>
    {{/asked}}
</Response>